@page
@model LoginModel
@{
}
<form method="post">
    <input name="Username" placeholder="Username" />
    <input name="Password" type="password" placeholder="Password" />
    <button type="submit">Login</button>
</form>
@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p>@Model.ErrorMessage</p>
}